# Auto detect text files and perform LF normalization
* text=auto
/Users/rodrigosilva/MinhasApps/Seguradoras_Playwright/venv/lib/python3.13/site-packages/playwright/driver/node filter=lfs diff=lfs merge=lfs -text
